<app-welcome 
    class="game-window" 
    [ngClass]="{
        active:current_window.name === windows.welcome.name,
        hidden:current_window.name !== windows.welcome.name}"
    (start)="next()">
</app-welcome>
<app-config 
    class="game-window" 
    [ngClass]="{
        active:current_window.name === windows.config.name,
        hidden:current_window.name !== windows.config.name}"
    (configured)="onConfigured($event)">
</app-config>
<app-match 
    #MatchComponent
    class="game-window" 
    [match]="current_match"
    (onFinish)="onFinishMatch($event)" 
    [ngClass]="{
        active:current_window.name === windows.match.name,
        hidden:current_window.name !== windows.match.name}">
</app-match>
<app-match-summary
    #SummaryComponent
    class="game-window" 
    [summary]="summary"
    (onClose)="finishGame()" 
    [ngClass]="{
        active:current_window.name === windows.summary.name,
        hidden:current_window.name !== windows.summary.name}">
</app-match-summary>